/* Font */

@font-face {
  font-family: 'Darleston';
  src: url('fonts/Darleston.otf');
}

@font-face {
  font-family: 'Blacksword';
  src: url('fonts/Blacksword.otf');
}

/* Basic Class */

.horizontal_layout
{
  display: flex;
  flex-direction: row;
}

.honrizontal_reverse_layout
{
  display: flex;
  flex-direction: row-reverse;
}

.vertical_layout
{
  display: flex;
  flex-direction: column;
}

.espaced
{
  justify-content: space-between;
}

.horizontal_separator
{
  width: 92%; 
  height: 3px;
  margin: auto;
  background-color: #000000;
}

.vertical_separator
{
  width: 3px; 
  height: 93%;
  margin: auto;
  background-color: #000000;
}

/* Main Items */

.main_content
{
  width: 1200px;
  margin: auto;
}

section
{
  width: 90%;
  margin: auto;
}

a
{
  text-align: center;
  color: #000000;
  text-decoration: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: Poppins;
}

p 
{
 font-family : Arial, Verdana, sans-serif;
}

h1
{
  font-family: Darleston;
  font-size: 3em;
}

h2
{
  font-family: Blacksword;
  font-size: 2em;
}

/* Header */

header
{
  border: 0px solid;
  background-color: #EEEEEE;
}

.title
{
  width: 40%;
  padding-left: 15px;
  
  display: flex;
  align-items: center;
}

.title h1
{
  padding-left: 15px;
}

/* Nav Language */

.language
{
  width: 10%;
}

nav ul
{
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

nav li
{
  margin-right: 5px;
}

.language ul li img
{
  border-radius: 5px;
}

/* Main Navigation */

.main_navigation
{
  width: 50%;
  background-color: #EEEEEE;
}

.main_navigation a
{
  border-left: 0px solid;
  flex-grow: 1;
}

/* history */ 

.photos
{
  width: 80%;
  border: 1px solid;
  margin: 25px 20px;
  /*background-color: #EEEEEE;*/
}

.photos img
{
	width : 100%;
	height : 100%;
	
}



.history_text
{
  text-align: justify;
  margin: 10px 20px;
}

.history_text h2
{
  margin-bottom: 2px;
}

.history_text p
{
  margin-top: 2px;
}

/* menu */

.menu
{
  align-items: flex-end;
  border: 1px solid;
  
  padding: 20px 20px 20px 0px;
  
  margin-top: 20px;
  margin-bottom: 20px;
  
  background:url(images/Plat6.jpg);
  background-size:100% auto; 
}

.menu nav
{
  width: 33%;
  padding: 0 20px;
  border: 1px solid;
  justify-content: space-between;

  background-color: #FFFFFF;
}

.menu nav a
{
  flex-grow: 1;
  padding: 5px 0px;
}

.menu nav a:nth-child(1), .menu nav a:nth-child(2)
{
  border-right: 1px solid;
}

.menu_text
{
  width: 33%;
  border: 1px solid;
  padding: 10px 20px;
  
  background-color: #FFFFFF;
}

/* access */

.contact
{
  margin-top: 20px;
  margin-bottom: 20px;
}

.informations
{
  width: 50%;
}

.booking 
{
  width: 50%;
  margin: auto;
}

/* informations */

.map
{
  margin-right: 10px;
  margin-bottom: 10px;
}

.info
{
  width: 40%;
  
  background-color: white;
  border: 1px solid;

  position: relative;
  bottom: 180px;
  
  font-size: 0.7em;
}

/* form */

.informations_form
{
  width: 50%;
}

.infos_form
{
  text-align: center;
  margin: auto;
}

/* footer */

footer
{
  border: 1px solid;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
}

/* aside */

#link_aside
{
  position: fixed;
  top: 50%;
  right: 0px;
}

#link_aside ul li
{
  margin-bottom: 10px;
}